In [19]:
from collections import abc

In [20]:
issubclass(tuple, abc.Sequence)
issubclass(list, abc.MutableSequence)

True

In [21]:
issubclass(list, abc.Sequence)

True

In [22]:
symbols = '$¢£¥€¤' 
codes = [] 
for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [23]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [24]:
beyond_ascii = list(filter(lambda c: c> 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [25]:
import array
# type(array)
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [26]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ("Tokyo", 2003, 32_450, 0.66, 8014)

In [27]:
a = (10, 'alpha', [1,2])
b = (10, 'alpha', [1,2])
a == b

True

In [28]:
b[-1].append(99)

In [29]:
a == b

False

In [30]:
b

(10, 'alpha', [1, 2, 99])

In [31]:
def fixed(o):
    try:
        hash(o) 
    except TypeError:
        return False
    return True
tf = (10, 'alpha', (1,3))
tm = (10, 'alpha', [1,3])
fixed(tm)

False

In [32]:
*head, b, c, d = range(10)

In [33]:
head

[0, 1, 2, 3, 4, 5, 6]

In [34]:
s = 'bicycle'
s[::3]

'bye'

In [36]:
s[1::3]

'ic'

In [37]:
slice(1,3)

slice(1, 3, None)

In [40]:
s[slice(1,4,1)]

'icy'

In [41]:
l = list(range(10))

In [44]:
l[2:5] = [20, 30]

In [45]:
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [46]:
del l[5:7]

In [47]:
l

[0, 1, 20, 30, 5, 8, 9]

In [48]:
board = [['_'] * 3 for _ in range(3)]

In [49]:
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [50]:
weird_board = [['_'] * 3] * 3

In [51]:
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [52]:
weird_board[0][1] = 'O'

In [53]:
weird_board

[['_', 'O', '_'], ['_', 'O', '_'], ['_', 'O', '_']]

In [54]:
id(weird_board[0]) == id(weird_board[1])

True

In [55]:
a = ['_'] * 10

In [58]:
id(a[0]) == id(a[1])

False

In [59]:
a = 3

In [60]:
id(a)

4302309400

In [62]:
'__iadd__' in dir(a)

False

In [63]:
a += 10
id(a)

4302309720

In [64]:
a = []

In [65]:
'__iadd__' in dir(a)

True

In [68]:
b = 3

In [69]:
id(b)

4302309400

In [72]:
t = (1,2, [30, 40])
print(id(t[2]))
t[2] += [50, 60]

4593953216

TypeError: 'tuple' object does not support item assignment

In [73]:
id(t[2])

4593953216

In [75]:
import collections
len(dir(collections))

36

In [87]:
from array import array
from random import random
floats = array('d', (random() for _ in range(10**7)))
type(floats)

array.array

In [88]:
floats[-1]

0.7260805334462468

In [89]:
float_list = [random() for _ in range(10**7)]

In [91]:
float_list[-1]

0.7864986955334916

In [92]:
octets = array('B', range(6))

In [93]:
octets

array('B', [0, 1, 2, 3, 4, 5])

In [94]:
m1 = memoryview(octets)

In [96]:
m1.tolist()

[0, 1, 2, 3, 4, 5]

In [97]:
m2 = m1.cast('B', [2,3])
m2.tolist()

[[0, 1, 2], [3, 4, 5]]

In [98]:
m3 = m1.cast('B', [3,2])
m3.tolist()

[[0, 1], [2, 3], [4, 5]]

In [106]:
id(m3[0,0]) == id(m2[0,0])

True

In [107]:
numbers = array('h', [-2, -1, 0, 1, 2])

AttributeError: type object 'array.array' has no attribute 'array'

In [108]:
import sys
sys.getsizeof(floats)

81940368

In [109]:
sys.getsizeof(float_list)

89095160

In [115]:
import numpy as np 
a = np.arange(12)
a
id(a)

4920908016

In [116]:
a.shape = (3,4)

In [117]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [118]:
id(a)

4920908016

In [119]:
'__iadd__' in dir(a)

True

In [120]:
from collections import deque
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)

In [121]:
dq.rotate(3)

In [122]:
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6], maxlen=10)

In [125]:
dir(dq)[-20:]

['__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'appendleft',
 'clear',
 'copy',
 'count',
 'extend',
 'extendleft',
 'index',
 'insert',
 'maxlen',
 'pop',
 'popleft',
 'remove',
 'reverse',
 'rotate']