In [10]:
from collections import namedtuple

In [1]:
class Coordinate:
    def __init__(self, lat, lon):
        self.lat = lat 
        self.lon = lon

In [2]:
moscow = Coordinate(55.76, 37.62)

In [3]:
moscow

In [4]:
location = Coordinate(55.76, 37.62)

In [8]:
print(f"{id(location)} != {id(moscow)}")

4559028176 != 4558925776

In [11]:
Coordinate = namedtuple('Coordinate', 'lat lon')

In [12]:
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)

In [18]:
moscow

Coordinate(lat=55.76, lon=37.62)

In [15]:
import typing
Coordinate = typing.NamedTuple('Coordinate', [('lat', float), ('lon', float)])

In [16]:
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)

In [20]:
print(moscow)
print(typing.get_type_hints(Coordinate))

Coordinate(lat=55.76, lon=37.62)
{'lat': <class 'float'>, 'lon': <class 'float'>}

In [21]:
from typing import NamedTuple

class Coordinate(NamedTuple):
    lat: float
    lon: float 

    def __str__(self):
        ns = 'N' if self.lat >=0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f"{abs(self.lat):.1f}^{ns}, {abs(self.lon):.1f}^{we}"

In [22]:
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)

In [23]:
print(moscow)

55.8^N, 37.6^E

In [33]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')

In [34]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [39]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [35]:
tokyo.population

36.933

In [36]:
City._fields

('name', 'country', 'population', 'coordinates')

In [38]:
Coordinate = namedtuple('Coordinate', 'lat lon')

In [40]:
delhi_data = ('Delhi NCR', 'IN', 21.935, Coordinate(28.613889, 77.208889))

In [45]:
delhi = City(*delhi_data)
print(delhi)
delhi = City._make(delhi_data)
print(delhi)

City(name='Delhi NCR', country='IN', population=21.935, coordinates=Coordinate(lat=28.613889, lon=77.208889))
City(name='Delhi NCR', country='IN', population=21.935, coordinates=Coordinate(lat=28.613889, lon=77.208889))

In [47]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': Coordinate(lat=28.613889, lon=77.208889)}

In [48]:
import json 
json.dumps(delhi._asdict())

'{"name": "Delhi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613889, 77.208889]}'

In [49]:
Coordinate = namedtuple('Coordinate', 'lat lon reference', defaults=['WGS84'])

In [50]:
Coordinate(0,0)

Coordinate(lat=0, lon=0, reference='WGS84')

In [51]:
Coordinate._field_defaults

{'reference': 'WGS84'}

In [55]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JKQA')
    suits = 'spades diamonds clubs hearts'.split()

    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits 
                                        for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)
    
    def __getitem__(self, position):
        return self._cards[position]

In [56]:
Card.suit_values = dict(spades=3, heart=2, diamonds=1, clubs=0)

In [57]:
def spade_high(card):
    rank_value = FrenchDeck.ranks.index(card.rank)

In [58]:
import typing
class Coordinate(typing.NamedTuple):
    lat: float
    lon: float

trash = Coordinate('Ni!', None)
print(trash)

Coordinate(lat='Ni!', lon=None)

In [59]:
class DemoPlainClass:
    a: int
    b: float = 1.1
    c = 'spam'

In [60]:
DemoPlainClass.__annotations__

{'a': int, 'b': float}

In [63]:
DemoPlainClass.c

'spam'

In [102]:
class DemoNTClass(typing.NamedTuple):
    a: int
    b: float = 222
    c = 'spam'

DemoNTClass.__annotations__

{'a': int, 'b': float}

In [89]:
DemoNTClass.a

_tuplegetter(0, 'Alias for field number 0')

In [90]:
DemoNTClass.b

_tuplegetter(1, 'Alias for field number 1')

In [91]:
a = 1

In [92]:
id(DemoNTClass)

140348668297024

In [93]:
a = DemoNTClass(1)

In [94]:
b = DemoNTClass(2)

In [95]:
id(a)

4633847488

In [96]:
id(b)

4633902848

In [97]:
DemoNTClass.c = 'meal'

In [98]:
a.a

1

In [99]:
b.c

'meal'

In [103]:
a

DemoNTClass(a=1, b=2)

In [104]:
b

DemoNTClass(a=2, b=2)