In [1]:
a = [1,2,3]
b = a 
id(b) == id(a)

True

In [2]:
a.append(12)
print(b)

[1, 2, 3, 12]

In [7]:
class Gizmo:
    def __init__(self):
        print(f"Gizmo id: {id(self)}")

# x is a moving box? 
x = 1 
print(id(x))


x = Gizmo() 
print(id(x)) 

x = 1 
print(id(x))

4343629784
Gizmo id: 4560884944
4560884944
4343629784

In [6]:
## Init Gizmo and add to memory -> try mul by 10 -> attach y name to initiated object
y = Gizmo() * 10

Gizmo id: 4561776016

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [8]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [9]:
id(lewis), id(charles)

(4634373824, 4634373824)

In [10]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [11]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [12]:
type(alex)

dict

In [13]:
alex == charles

True

In [14]:
alex is charles

False

In [15]:
id(alex), id(charles)

(4561425024, 4634373824)

In [16]:
a = None 
a == None

True

In [17]:
id(None)

4343628272

In [18]:
t1 = (1,2, [30, 40])
t2 = (1,2, [30, 40])

t1.__eq__(t2)

True

In [19]:
id(t1[-1]), id(t2[-1])

(4634427584, 4634431424)

In [20]:
t1[-1].append(123)
t1 == t2

False

In [22]:
l1 = [3, [55, 44], (7,8,9)]
l2 = list(l1)
id(l1) == id(l2)

False

In [23]:
l2 = l1 
l1 is l2

True

In [24]:
l2 = l1[:]
l2 is l1

False

In [28]:
l1 = [3, [55, 44], (7,8,9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print(f'l1: {l1} \nl2: {l2}')

l2[1] += [33,22]
l2[2] += (10, 11)
print(f'l1: {l1} \nl2: {l2}')

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]
l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

In [29]:
class Bus:
    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = [] 
        else:
            self.passengers = list(passengers)
    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [30]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', "David"])
bus2= copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(4561295824, 4561511312, 4657741776)

In [31]:
bus1.drop('Alice')
bus2.passengers

['Bill', 'Claire', 'David']

In [32]:
bus3.passengers

['Alice', 'Bill', 'Claire', 'David']

In [34]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [40]:
a[2][0][2][0]

[10, 20, [[...], 30]]

In [41]:
c = copy.copy(a)

In [42]:
c

[10, 20, [[10, 20, [...]], 30]]

In [43]:
d = copy.deepcopy(a)

In [44]:
d

[10, 20, [[...], 30]]

In [45]:
def f(a, b):
    a += b 
    return a
x = 1
y = 2 
f(x,y)

3

In [46]:
a = [1,2]
b = [3,4]
f(a,b)

[1, 2, 3, 4]

In [47]:
a = [1,2]
b = a 
del a 
b

[1, 2]

In [50]:
import weakref
s1 = {1,2,3}
s2 = s1 
def bye():
    print('...like tears in the rain.')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [51]:
del s1

In [52]:
ender.alive

True

In [53]:
s2 = 'spam'

...like tears in the rain.

In [54]:
ender.alive

False

In [56]:
t1 = (1,2,3, [1])
t2 = tuple(t1)
t1 is t2

True

In [58]:
t1[3].append(1)

In [59]:
t1 is t2

True

In [60]:
t1

(1, 2, 3, [1, 1])

In [61]:
t2

(1, 2, 3, [1, 1])