In [7]:
def factorial(n):
    """returns n!"""
    return 1 if n < 2 else n * factorial(n-1)

In [8]:
factorial(40)

815915283247897734345611269596115894272000000000

In [9]:
factorial.__doc__

'returns n!'

In [10]:
fact = factorial
fact(5)

120

In [17]:
import timeit; print(timeit.timeit(lambda: map(factorial, range(100)), number=1000))

0.00023083400446921587

In [18]:
import timeit; print(timeit.timeit(lambda: list(map(factorial, range(100))), number=1000))

0.3386989999562502

In [19]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [20]:
def reverse(word):
    return word[::-1]

sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [21]:
print(timeit.timeit(lambda: list(map(factorial, range(100))), number=1000))
print(timeit.timeit(lambda: [factorial(i) for i in range(100)], number=1000))

0.33907208393793553
0.3312977079767734

In [27]:
[i for i in filter(lambda n: n %2, range(6))]

[1, 3, 5]

In [24]:
from functools import reduce
from operator import add 
reduce(add, range(100))

4950

In [25]:
sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [39]:
a = lambda n: n %2, range(10)

In [47]:
import random 

class BingoCage:

    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)
    
    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick from empty BingoCage')
    
    def __call__(self):
        return self.pick()

In [60]:
bingo = BingoCage(range(3))

In [61]:
callable(bingo)

True

In [62]:
bingo()

2

In [64]:
def f(a, *, b):
    return a, b 

f(1, b = 2)

(1, 2)

In [65]:
f(1,2)

TypeError: f() takes 1 positional argument but 2 were given

In [69]:
!python -V

Python 3.11.10

In [80]:
def divmod(a, b, /, **c):
    print(c['a'])
    return (a//b, a % b)

In [81]:
divmod(1,2, a = 2)

2

(0, 1)

In [82]:
def factorial(n):
    return reduce(lambda a, b: a*b, range(1,n+1))

In [84]:
factorial(10)

3628800

In [85]:
from operator import mul 
def factorial(n):
    return reduce(mul, range(1, n+1))

In [86]:
factorial(5)

120

In [88]:
metro_data = [('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
              ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
              ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
              ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
              ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)) ]

In [90]:
from operator import itemgetter
for city in sorted(metro_data, key=itemgetter(0)):
    print(city)

('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [91]:
cc_name = itemgetter(1,0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'São Paulo')

In [93]:
from collections import namedtuple 
LatLon = namedtuple('LatLon', 'lat lon')
Metropolis = namedtuple("Metropolis", "name cc pop coord")
metro_areas = [Metropolis(name, cc, pop, LatLon(lat, lon)) for name, cc, pop, (lat, lon) in metro_data]

In [94]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLon(lat=35.689722, lon=139.691667))

In [95]:
from operator import attrgetter 
name_lat = attrgetter('name', 'coord.lat')

In [96]:
for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('São Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [97]:
from operator import methodcaller 
s = "The time has come"
upcase = methodcaller('upper')
upcase(s)

'THE TIME HAS COME'

In [98]:
hyphenate = methodcaller('replace', ' ', '-')
hyphenate(s)

'The-time-has-come'

In [100]:
from functools import partial
triple = partial(mul, 3)
triple(7) ## --> now map() can be used

21